.modal
  .modal__container
    button.modal__button-close
    h2 Слава Україні!
    form.modal__form
      .inputBox
        input.modal__input(type="login" name="login" required="required")
        span Login
      .inputBox
        input.modal__input(type="password" name="password" required="required")
        span Password
      button.modal__button Увійти
