extends ../layout/default

block title
	title Title

//-Main.main
block content

	include ../../components/uploadFiles/uploadFiles

	//доделать
	include ../../components/customPhoneMask/customPhoneMask
		//include ../../components/modal/modal.pug
